@import 'index.css';

html, body {
  font-family: var(--font-family-sans);
  background-color: var(--white-200);
  margin: 0;
  -webkit-font-smoothing: antialiased; /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale;  /* Firefox on macOS */
}

button {
  display: inline-block;
  min-width: max-content;
  white-space: nowrap;
}
