:root {
  --btn-radius: var(--radius-btn);

  --led-size: var(--size-led);
  --led-color-background: var(--red-500);
  --led-box-shadow: var(--red-500-alpha-80);
  --led-color-dark-blink: var(--red-600-alpha-20);
  --led-color-light-blink: var(--red-600-alpha-10);

  --section-radius: var(--radius-section);

  --grid-header-color: var(--blue-700);
  --grid-header-size: var(--size-cell-300);
  --grid-header-font-size: var(--font-size-200);

  --cell-size: var(--size-cell-400);
  --cell-color-background: var(--color-grid-background);
  --cell-color: var(--white);
  --cell-color-background-hover: var(--blue-400);
  --cell-color-border: var(--light-blue-400);
  --cell-size-sm: var(--size-cell-350);
  --cell-font-size: var(--font-size-400);
  --cell-font-size-sm: var(--font-size-200);

  --health-dot-size: var(--size-dot);
  --health-dot-empty: var(--gray-300);
  --health-dot-alive: var(--green-400);

  --ship-status-color: var(--blue-600);
  --ship-status-title-color: var(--color-ship-status-title);
  --ship-status-divider: var(--gray-100);

  --input-background-color: var(--color-input-background);
  --input-focus-color: var(--color-input-focus);
  --input-color: var(--color-input);

  --layout-title-color: var(--color-text-value);
  --layout-logo-font-size: var(--font-size-400);
  --layout-subtitle-color: var(--gray-600);
  --layout-color-background: var(--color-background);
}
