:root {
  --btn-radius: var(--radius-btn);

  --led-background: var(--red-500);
  --led-box-shadow: var(rgba(255, 0, 0, 0.8));
  --led-dark-blink: rgba(255, 0, 0, 0.2);
  --led-light-blink: rgba(255, 0, 0, 1);

  --section-radius: var(--radius-section);

  --cell-header-size: var(--size-cell-300);
  --cell-header-font-size: var(--font-size-300);
  --cell-size: var(--size-cell-400);
  --cell-color-background: var(--blue-300);
  --cell-color: var(--white);
  --cell-color-background-hover: var(--blue-400);
  --cell-color-border: var(--light-blue-400);
  --cell-size-sm: var(--size-cell-350);
  --cell-font-size: var(--font-size-400);
  --cell-font-size-sm: var(--font-size-300);
}
