#storybook-root {
  max-width: 500px;
}

.grid-cell:not(.game-board .grid-cell) {
  width: 40px;
  height: 40px
}

p {
  font-family: "Nunito Sans", -apple-system, ".SFNSText-Regular", "San Francisco", BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 16px 0px;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  line-height: 24px;
  color: rgb(46, 52, 56);
}

@media (prefers-color-scheme: dark) {
  p {
    color: rgb(208, 208, 208);
  }
  .innerZoomElementWrapper p {
    color: rgb(46, 52, 56);
  }
}

